name: ffxiv-id

services:
  db:
    image: postgres:18
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d keycloak -U keycloak" ]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - db:/var/lib/postgresql
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: ${DB_PASSWORD}
  
  iam:
    image: ghcr.io/tawmy/ffxiv-id:0.4.0
    restart: unless-stopped
    command: start
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: db
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: ${DB_PASSWORD}
      KC_CACHE: local
      KC_BOOTSTRAP_ADMIN_USERNAME:
      KC_BOOTSTRAP_ADMIN_PASSWORD:
      KC_BOOTSTRAP_ADMIN_CLIENT_ID:
      KC_BOOTSTRAP_ADMIN_CLIENT_SECRET:
      KC_HTTP_ENABLED: true
      KC_PROXY_HEADERS: xforwarded
    labels:
      caddy.reverse_proxy: "{{upstreams 8080}}"
      caddy.@restricted.path: /realms/master* /admin*
      caddy.@restricted.0_not: remote_host tawmy.ddns.net
      caddy.0_handle: "@restricted"
      caddy.0_handle.0_respond: "404"