---
- name: Create and configure realm
  community.general.keycloak_realm:
    auth_keycloak_url: "{{ keycloak_url }}"
    auth_realm: master
    auth_client_id: "{{ keycloak_ansible_client_id }}"
    auth_client_secret: "{{ vault_keycloak_ansible_client_secret }}"
    validate_certs: "{{ validate_certs | default(true) }}"

    # General
    id: "{{ keycloak_realm_name }}"
    realm: "{{ keycloak_realm_name }}"
    enabled: true
    display_name: "{{ keycloak_realm_display_name }}"
    display_name_html: <div class="kc-logo-text"><span>{{ keycloak_realm_display_name }}</span></div>
    ssl_required: "all"

    # Login
    registration_allowed: true
    login_with_email_allowed: false
    edit_username_allowed: true
    
    # Themes
    login_theme: ffxiv

