- name: Add delete-account client role to default roles composite
  community.general.keycloak_role:
    auth_keycloak_url: "{{ keycloak_url }}"
    auth_realm: master
    auth_client_id: "{{ keycloak_ansible_client_id }}"
    auth_client_secret: "{{ vault_keycloak_ansible_client_secret }}"
    validate_certs: "{{ validate_certs | default(true) }}"

    realm: "{{ keycloak_realm_name }}"
    name: "default-roles-{{ keycloak_realm_name }}"
    composite: true
    composites:
      - clientId: "account"
        name: "delete-account"
    state: present
