---
- name: Check if token exists and is still valid
  ansible.builtin.set_fact:
    need_new_token: "{{ (keycloak_token is not defined) or (token_expiry is not defined) or (token_expiry | int <= ansible_date_time.epoch | int) }}"

- name: Get new access token if needed
  ansible.builtin.uri:
    url: "{{ keycloak_url }}/realms/{{ realm | default('master') }}/protocol/openid-connect/token"
    method: POST
    validate_certs: "{{ validate_certs | default(true) }}"
    body_format: form-urlencoded
    body:
      grant_type: client_credentials
      client_id: "{{ keycloak_ansible_client_id }}"
      client_secret: "{{ vault_keycloak_ansible_client_secret }}"
    return_content: true
  register: token_response
  when: need_new_token

- name: Set token and expiry
  when: need_new_token
  ansible.builtin.set_fact:
    keycloak_token: "{{ token_response.json.access_token if need_new_token else keycloak_token }}"
    token_expiry: "{{ (ansible_date_time.epoch | int + token_response.json.expires_in | int) if need_new_token else token_expiry }}"
