- name: Delete rsa-generated key provider
  community.general.keycloak_component:
    auth_keycloak_url: "{{ keycloak_url }}"
    auth_realm: master
    auth_client_id: "{{ keycloak_ansible_client_id }}"
    auth_client_secret: "{{ vault_keycloak_ansible_client_secret }}"
    validate_certs: "{{ validate_certs | default(true) }}"

    name: rsa-generated
    state: absent
    parent_id: "{{ keycloak_realm_name }}"
    provider_id: rsa-generated
    provider_type: org.keycloak.keys.KeyProvider

- name: Delete rsa-enc-generated key provider
  community.general.keycloak_component:
    auth_keycloak_url: "{{ keycloak_url }}"
    auth_realm: master
    auth_client_id: "{{ keycloak_ansible_client_id }}"
    auth_client_secret: "{{ vault_keycloak_ansible_client_secret }}"
    validate_certs: "{{ validate_certs | default(true) }}"

    name: rsa-enc-generated
    state: absent
    parent_id: "{{ keycloak_realm_name }}"
    provider_id: rsa-generated
    provider_type: org.keycloak.keys.KeyProvider

- name: Create ECDSA (sig) key provider
  community.general.keycloak_component:
    auth_keycloak_url: "{{ keycloak_url }}"
    auth_realm: master
    auth_client_id: "{{ keycloak_ansible_client_id }}"
    auth_client_secret: "{{ vault_keycloak_ansible_client_secret }}"
    validate_certs: "{{ validate_certs | default(true) }}"

    name: ecdsa-generated
    state: present
    parent_id: "{{ keycloak_realm_name }}"
    provider_id: ecdsa-generated
    provider_type: org.keycloak.keys.KeyProvider
    config:
      ecGenerateCertificate: true
      ecdsaEllipticCurveKey: P-256
      active: true
      enabled: true
      priority: 201

- name: Create ECDH (enc) key provider
  community.general.keycloak_component:
    auth_keycloak_url: "{{ keycloak_url }}"
    auth_realm: master
    auth_client_id: "{{ keycloak_ansible_client_id }}"
    auth_client_secret: "{{ vault_keycloak_ansible_client_secret }}"
    validate_certs: "{{ validate_certs | default(true) }}"

    name: ecdh-generated
    state: present
    parent_id: "{{ keycloak_realm_name }}"
    provider_id: ecdh-generated
    provider_type: org.keycloak.keys.KeyProvider
    config:
      ecGenerateCertificate: true
      ecdhEllipticCurveKey: P-256
      ecdhAlgorithm: ECDH-ES+A256KW
      active: true
      enabled: true
      priority: 200