.pf-v5-c-button {
  /* relative flex justify-center items-center h-8 px-5
    text-white text-nowrap no-underline select-none
    rounded-full border border-[rgb(32,31,32)] shadow-md shadow-stone-950
    after:absolute after:left-0 after:top-0 after:w-full after:h-full after:rounded-full after:pointer-events-none" */

  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 0 1.25rem;
  color: white !important;
  text-wrap: nowrap;
  border-radius: 100vmax;
  border: 1px solid rgb(32, 31, 32);
  box-shadow: 0 4px 6px -1px oklch(14.7% .004 49.25);
  background: linear-gradient(to bottom,
      rgb(92, 92, 92),
      rgb(72, 71, 71) calc(50% - 1px),
      rgb(63, 62, 62) calc(50% - 1px),
      rgb(63, 62, 62) calc(50%),
      rgb(55, 55, 55) calc(50%),
      rgb(74, 73, 73));

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 100vmax;
    pointer-events: none;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    clip-path: polygon(0 0, 100% 0, 100% calc(50% - 1px), 0 calc(50% - 1px));
  }

  &::after {
    display: none;
  }

  &:hover:not(&:disabled) {
    filter: brightness(1.33);
    cursor: pointer;
  }

  &:disabled {
    filter: brightness(0.5);
  }

  &.pf-v5-u-mt-md-on-md {
    margin-block-start: unset !important;
  }

  a {
    color: white;
  }

}